<div>
  <app-view-header/>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->

    <!-- end Single Card -->
    <!-- Single Card -->
    <div nft-chart-card [name]="'مبلغ کل درآمد فروش پنل'" class="md:col-span-2 xl:col-span-1"></div>
    <div nft-chart-card [name]="'تعداد مشتریان خارج'" type="person" class="md:col-span-2 xl:col-span-1"></div>
    <div nft-chart-card [name]="'تعداد مشتریان ایران'" type="person" class="md:col-span-2 xl:col-span-1"></div>
    <!-- end Single Card -->
    <!-- Auctions Table -->
    <div view-exchange-table [label]="table1Label" [body]="table1Body" [keys]="table1Keys" [itemIconUrls]="table1IconsUrl" [forbiddenKeysInItem]="table1ForbiddenKeysInItem"   class="md:col-span-2 xl:col-span-3"></div>
    <div view-exchange-table [label]="table2Label" [body]="table2Body" [keys]="table2Keys" [itemIconUrls]="[]"  [forbiddenKeysInItem]="[]"  class="md:col-span-2 xl:col-span-3"></div>
    <div view-exchange-table [label]="table3Label" [body]="table3Body" [keys]="table3Keys" [itemIconUrls]="[]"  [forbiddenKeysInItem]="[]"  class="md:col-span-2 xl:col-span-3"></div>
    <div view-exchange-table [label]="table4Label" [body]="table4Body" [keys]="table4Keys" [itemIconUrls]="[]"  [forbiddenKeysInItem]="[]"  class="md:col-span-2 xl:col-span-3"></div>
    <div class="md:col-span-2 xl:col-span-2" view-map></div>
    <div nft-chart-card [name]="'صرافیها'"  type="person"  class="md:col-span-2 xl:col-span-2"></div>

  </div>
</div>
