<div class="rounded-md bg-background">
  <div class="w-full border-b border-b-border p-3">
    <section class="p-4">
      <p *ngIf="tableConfig.title">{{ tableConfig.title }}</p>
    </section>
    <form [formGroup]="tableConfig.inputs" class="grid w-full grid-cols-4 gap-2 p-3">
      <div *ngFor="let controlInput of _getFormCroupControlsAsArray(tableConfig.inputs.controls)">
        <app-input [control]="controlInput"></app-input>
      </div>
    </form>
    <div class="flex w-full items-center">
      <app-button [disabled]="!selectedItemsIndex.length" tone="danger" impact="light">حذف</app-button>
    </div>
  </div>

  <table class="w-full overflow-x-auto">
    <thead>
      <th
        *ngFor="let headerKey of tableConfig.tableHeader; index as tableHeaderIndex"
        class="px-3 py-4 text-start text-sm font-light text-muted-foreground">
        <div class="inline-block" *ngIf="tableHeaderIndex == 0">
          <input type="checkbox" (change)="onAllCheckboxChange($event)" />
        </div>
        {{ headerKey }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let bodyItem of tableConfig.tableBody; index as bodyItemIndex">
        <td
          class="border-t border-t-border px-3 py-4 text-sm font-light text-muted-foreground"
          *ngFor="let value of getObjectValues(bodyItem); index as i">
          <div class="me-1 inline-block" *ngIf="i == 0">
            <input #checkboxChild type="checkbox" (change)="onCheckboxChange($event, bodyItemIndex)" />
          </div>
          <p
            *ngIf="i !== tableConfig.assetIndexFromBody"
            class="w-fit"
            [class]="'inline-block ' + _choseClassBasedCustomStyleForVal(value)">
            {{ _textTruncate(value) }}
          </p>
          <img *ngIf="i == tableConfig.assetIndexFromBody" [src]="value" class="h-10 w-10 rounded-md" />
        </td>
        <td class="border-t border-b-border px-3 py-4 text-sm font-light text-muted-foreground">
          <app-button>بیشتر</app-button>
          <app-button tone="warning">ویرایش</app-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
