<div class="flex min-h-20 gap-3 overflow-x-scroll scrollbar-none">
  <section
    *ngFor="let step of steps; index as i"
    (click)="handleClickStep(i)"
    class="flex h-fit w-fit cursor-pointer items-center gap-2">
    <div class="flex items-center gap-2">
      <section
        *ngIf="currentStepIndex !== null"
        class="flex min-h-7 min-w-7 items-center justify-center rounded-full   {{
          currentStepIndex >= i ? 'bg-primary' : 'bg-muted-foreground'
        }} text-xl text-background ">
        {{ i + 1 }}
      </section>
      <p class="text-nowrap">{{ step }}</p>
    </div>

    <div *ngIf="i != steps.length - 1" class="h-[2px] w-32 bg-muted-foreground"></div>
  </section>
</div>
